/***************/
/* BACKGROUNDS */
/***************/

#summoning {
  /* height: 650px; */
  /* min-height: calc(100vh - 93px); */
  width: 100%;
  background-image: url(../../assets/summon_sky.png);
  background-size: auto 100%;
  background-position: bottom center;
  position: relative;
  overflow: hidden;
  -o-user-select: none;
  user-select: none;
}

#summoning.pulse {
  animation: summon-pulse 1.5s infinite;
}

.summon-title {
  font-size: 24px;
}

@keyframes summon-pulse {
  0% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(1.5);
  }
  60% {
    filter: brightness(1);
  }
  80% {
    filter: brightness(1.25);
  }
  100% {
    filter: brightness(1);
  }
}

#summoning.flash {
  animation: summon-flash 2s forwards;
}

@keyframes summon-flash {
  0% {
    filter: brightness(1);
  }
  33% {
    filter: brightness(1);
  }
  66% {
    filter: brightness(10);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes turn-off {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes turn-on {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#summon-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(0);
  pointer-events: none;
  transition: backdrop-filter 0.75s;
}

#summon-filter.active {
  backdrop-filter: blur(4px);
  pointer-events: all;
}

.hill {
  /* min-height: calc(100vh - 93px); */
  display: flex;
  align-items: flex-end;
}

.container-swirl {
  width: 100%;
  top: 0;
  bottom: 30%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swirl {
  display: block;
  margin: 0 auto;
  bottom: 0%;
  max-width: 100%;
  animation: swirl-pulse 12s ease-in-out infinite;
}

#summoning.pulse .swirl,
#summoning.flash .swirl {
  animation: swirl-turn 6s linear infinite;
}

@keyframes swirl-pulse {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(0.9)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes swirl-turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.summon-hill {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: block;
}

.container-hill {
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  display: grid;
  grid-template-columns: [anito-left] 1fr [anito-left-mid] 1fr [stone-left] 3fr [stone-right] 1fr [anito-right-mid] 1fr [anito-right];
  grid-template-rows: 100px 200px 40px 200px 1fr;
  grid-template-areas:
    "header header header header header"
    "space-left space-left space space-right space-right"
    "btn-left btn-left stone btn-right btn-right"
    "anito-left anito-left stone anito-right anito-right"
    "footer footer footer footer footer";
}

/**********/
/* ANITOS */
/**********/

.anito-summoner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}

.anito-summoner.img {
  width: 100%;
}

.anito-summoner.left {
  grid-area: anito-left;
}

.anito-summoner.right {
  grid-area: anito-right;
}

.anito-summoner.right img {
  transform: scaleX(-1);
  position: relative;
}

.summon-interface {
  /* position: relative; */
  grid-area: footer;
  text-align: center;
  z-index: 6;
  padding: 40px 0;
}

.summon-button {
  border: none;
  background-color: var(--berry);
  color: white;
  justify-self: center;
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer;
}

#summon-button-left.disabled,
#summon-button-right.disabled {
  background-color: transparent;
  border: 2px solid white;
  pointer-events: none;
}

.summon-interface .summon-button {
  font-size: 18px;
  padding: 20px 40px;
}

.summon-button:hover {
  background-color: var(--lighter-berry);
}

.summon-button.left {
  grid-area: btn-left;
  z-index: 6;
}

.summon-button.right {
  grid-area: btn-right;
  z-index: 6;
}

#summon-button {
  transition: transform 0.25s ease-in;
  transform: scale(1);
}

#summon-button.disabled {
  transform: scale(0);
}

/********************/
/* SUMMONING STONES */
/********************/

.stone-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  justify-self: center;
  align-self: center;
  z-index: 8;
}

.stone-indicator.left {
  grid-area: space-left;
}

.stone-indicator.right {
  grid-area: space-right;
}

.stone-indicator img {
  width: 80px;
  position: absolute;
}

.summon-stone {
  animation: stone-bob 4s infinite var(--delay-time) ease-in-out;
}

.summon-stone.travelling-left {
  animation: stone-movement-left var(--stone-speed) forwards var(--stone-delay);
}

@keyframes stone-movement-left {
  80% {
    left: calc(50% - 50px);
    top: 390px;
    transform: scale(1);
  }
  100% {
    left: calc(50% - 50px);
    top: 390px;
    transform: scale(0);
  }
}

.summon-stone.travelling-right {
  animation: stone-movement-right var(--stone-speed) forwards var(--stone-delay);
}

@keyframes stone-movement-right {
  80% {
    right: calc(50% - 33px);
    top: 390px;
    transform: scale(1);
  }
  100% {
    right: calc(50% - 33px);
    top: 390px;
    transform: scale(0);
  }
}

@keyframes stone-bob {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}

/********************/
/* SUMMONING PILLAR */
/********************/

.summon-title {
  grid-area: header;
  justify-self: center;
  align-self: center;
  color: white;
}

.summoning-stone {
  grid-area: 2 / anito-left-mid / 5 / anito-right-mid;
  height: 100%;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
}

.summoning-stone-img {
  aspect-ratio: 1.111 / 1;
  height: 50%;
}

.summoning-stone-img.off {
  opacity: 1;
}

#summoning.flash .summoning-stone-img.off {
  animation: turn-off 2s forwards;
}

.summoning-stone-img.on {
  opacity: 0;
}

#summoning.flash .summoning-stone-img.on {
  animation: turn-on 2s forwards;
}

.summoning-stone-position {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  transition-property: bottom, left;
  transition-duration: 2s;
}

.glow {
  animation: glow 3s linear infinite;
}

@keyframes glow {
  0% {
    filter: opacity(0);
  }
  40% {
    filter: opacity(1);
  }
  80% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0);
  }
}

#stone-slots {
  transform: translateX(-50%) scale(0);
  z-index: 8;
}

#stone-slots.active {
  animation: slots-appear 0.75s forwards 1.75s;
}

#stone-slots.reverse {
  animation: slots-disappear 0.5s forwards;
}

@keyframes slots-appear {
  0% {
    transform: translateX(-50%) scale(0);
  }
  80% {
    transform: translateX(-50%) scale(1.04);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes slots-disappear {
  0% {
    transform: translateX(-50%) scale(1);
  }
  40% {
    transform: translateX(-50%) scale(1.04);
  }
  100% {
    transform: translateX(-50%) scale(0);
  }
}